<%= form_tag user_sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br/>
      <%= text_field_tag :email, params[:email] %>
    </div><br/>
    <div class="field">
      <%= label_tag :password %><br/>
      <%= password_field_tag :password %>
    </div><br/>
    <div class="actions"><%= submit_tag "Log in" %></div>
  <% end %>
<div>
  <p>email: admin@example - pwd: 123123</p>
  <p>email: member@example - pwd: 123123</p>
</div>